@model BrowseDirectoryViewModel
@{
    ViewData["Title"] = Model.Name;

    int previewCardSize = (int)ViewData["PreviewGridCardSize"];
    int previewGridWidth = 1296;

    int cardsPerRow = (int)Math.Floor((double)previewGridWidth / (double)previewCardSize);
    int previewGridSpacing = (int)Math.Floor((double)(previewGridWidth - (previewCardSize * cardsPerRow)) / (cardsPerRow -
    1));
}

<div class="row">
    <div class="column">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @foreach(var c in Model.PathComponents){
                    @if(Model.Path != c.Path){
                        <li class="breadcrumb-item"><a asp-controller="Browse" asp-route-share="@Model.Share" asp-route-path="@c.Path">@c.Name</a></li>
                    }else{
                        <li class="breadcrumb-item active">@c.Name</li>
                    }
                }
            </ol>
        </nav>
    </div>
</div>

<div class="row" style="margin-bottom: 20px;">
    <div class="column">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            @if (Model.ViewType == "List")
            {
                <a role="buttpn" class="btn btn-sm btn-success" href="#" onclick="return false;">List</a>
            }
            else
            {
                <a role="button" class="btn btn-sm btn-outline-secondary"
                       href="@Url.Action("Index", "Browse", new { share = Model.Share, path = Model.Path, view = "List" })"
                       data-no-history>List</a>
            }

            @if (Model.ViewType == "Thumbnails")
            {
                <a role="button" class="btn btn-sm btn-success" href="#" onclick="return false;">Thumbnails</a>
            }
            else
            {
                <a role="button" class="btn btn-sm btn-outline-secondary"
                       href="@Url.Action("Index", "Browse", new { share = Model.Share, path = Model.Path, view = "Thumbnails" })"
                       data-no-history>Thumbnails</a>
            }
        </div>

        @if (Model.ShowImageGalleryView)
        {
            <a href="@Url.Action("ViewImages", "Browse", new { share = Model.Share, path = Model.Path })"
                class="btn btn-sm btn-primary" role="button">View Images</a>
        }

        <div class="btn-group float-end">
                <a href="#" onclick="return false;" class="btn btn-sm btn-secondary">...</a>
        </div>
        
        <div class="btn-group float-end" role="group">
            <a href="@Url.Action("RefreshThumbnail", "Browse", new { share = Model.Share, path = Model.Path })"
                class="btn btn-sm btn-secondary" role="button">Refresh Thumbnail</a>

            <a href="@Url.Action("RefreshThumbnails", "Browse", new { share = Model.Share, path = Model.Path })"
                class="btn btn-sm btn-secondary" role="button">Refresh Thumbnails</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        @if(Model.ViewType == "Thumbnails"){
            @await Html.PartialAsync("_IndexPreview", Model)
        }else{
            @await Html.PartialAsync("_IndexList", Model)
        }
    </div>
</div>

@section Styles{
    <style>
        .file-list {
            list-style: none;
            font-family: 'Courier New', Courier, monospace;
        }

        .file-list li>svg{
            margin-right: 10px;
        }

        .file-list li:not(:has(svg)){
            padding-left: 32px;
        }

        .file-list a{
            color: ;
        }
    </style>

    <style>
        section{
            margin-bottom: 60px;
        }

        section h2{
            padding-bottom: 20px;
        }

        .content-container {
            display: grid;
        }

        .content-container .item {
            text-align: center;
            background-color: #15181a;
        }

        .content-container .item a.item-link {
            color: #f0f0f0;
            text-decoration: none;
            display: block;
        }

        .content-container .item figure {
            margin: 0;
        }

        .content-container .item footer {
            padding: 14px 14px;
            letter-spacing: 1px;
            margin: 0;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .content-container .item img {
            object-fit: contain;
            image-orientation: none;
            background-color: #0c0e0f;
        }

        @* .content-container .item {
            width: 160px;
        }

        .content-container .item img {
            width: 160px;
            height: 160px;
        }

        .content-container {
            grid-template-columns: repeat(auto-fit, 160px);
            grid-gap: 14px;
        } *@

        @* @@media only screen and (min-width: 576px){
            .content-container{
                .grid-gap: 17px;
            }
        } *@

                            .content-container {
                            grid-template-columns: repeat(auto-fit, 180px);
                            @* grid-gap: 17px; *@
                            grid-gap: 5px;
                            }

                            .content-container .item img {
                            width: 180px;
                            height: 180px;
                            }

                            .content-container .item {
                            width: 180px;
                            }

        @@media only screen and (min-width: 992px) {
            .content-container {
                grid-template-columns: repeat(auto-fit, @(previewCardSize)px);
                @* grid-gap: 17px; *@
                grid-gap: @(previewGridSpacing)px;
            }

            .content-container .item img {
                width: @(previewCardSize)px;
                height: @(previewCardSize)px;
            }

            .content-container .item {
                width: @(previewCardSize)px;
            }
        }

        @* @@media only screen and (min-width: 1081px) {
            .content-container {
                grid-template-columns: repeat(auto-fit, 240px);
                grid-gap: 24px;
            }
        } *@
    </style>
}