@model BrowseDirectoryViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="column">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @foreach(var c in Model.PathComponents){
                    @if(Model.Path != c.Path){
                        <li class="breadcrumb-item"><a asp-controller="Browse" asp-route-share="@Model.Share" asp-route-path="@c.Path">@c.Name</a></li>
                    }else{
                        <li class="breadcrumb-item active">@c.Name</li>
                    }
                }
            </ol>
        </nav>
    </div>
</div>

<div class="row" style="margin-bottom: 20px;">
    <div class="column">
        @if (Model.ShowImageGalleryView)
        {
            <a href="@Url.Action("ViewImages", "Browse", new { share = Model.Share, path = Model.Path })"
                class="btn btn-sm btn-primary" role="button">View Images</a>
        }

        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            @if (Model.ViewType == "List")
            {
                <a role="buttpn" class="btn btn-sm btn-success" href="#" onclick="return false;">List</a>
            }
            else
            {
                <a role="button" class="btn btn-sm btn-outline-secondary"
                    href="@Url.Action("Index", "Browse", new { share = Model.Share, path = Model.Path, view = "List" })">List</a>
            }

            @if (Model.ViewType == "Thumbnails")
            {
                <a role="button" class="btn btn-sm btn-success" href="#" onclick="return false;">Thumbnails</a>
            }
            else
            {
                <a role="button" class="btn btn-sm btn-outline-secondary"
                    href="@Url.Action("Index", "Browse", new { share = Model.Share, path = Model.Path, view = "Thumbnails" })">Thumbnails</a>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        @if(Model.Directories.Any()){
            <ul>
                @foreach(var dir in Model.Directories){
                    <li><a href="@Url.Action("Index", "Browse", new {share = dir.Share, path = dir.Path, view = dir.ViewType})">@dir.Name</a></li>
                }
            </ul>
        }

        @if(Model.Files.Any()){
            <ul>
                @foreach(var file in Model.Files){
                    @if(file.IsImage){
                        <li><a asp-controller="Browse" asp-action="ViewImages" asp-route-share="@Model.Share" asp-route-path="@Model.Path" asp-route-image="@file.Name">@file.Name</a></li>
                    }else if(file.IsVideo){
                        <li><a asp-controller="Browse" asp-action="ViewVideo" asp-route-share="@file.Share" asp-route-path="@file.Path">@file.Name</a></li>
                    }else{
                        <li>@file.Name</li>
                    }
                }
            </ul>
        }
    </div>
</div>