@model BrowseDirectoryViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="column">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @foreach(var c in Model.PathComponents){
                    @if(Model.Path != c.Path){
                        <li class="breadcrumb-item"><a asp-controller="Browse" asp-route-share="@Model.Share" asp-route-path="@c.Path">@c.Name</a></li>
                    }else{
                        <li class="breadcrumb-item active">@c.Name</li>
                    }
                }
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="column">
        @if(Model.ShowImageGalleryView){
        <p>
            <a href="@Url.Action("ViewImages", "Browse", new {share = Model.Share, path = Model.Path})">View Images</a>
        </p>
        }

        <ul>
            @foreach(var dir in Model.Directories){
                <li><a href="@Url.Action("Index", "Browse", new {share = dir.Share, path = dir.Path})">@dir.Name</a></li>
            }
        </ul>

        <ul>
            @foreach(var file in Model.Files){
                @if(file.IsImage){
                    <li><a asp-controller="Browse" asp-action="ViewImages" asp-route-share="@Model.Share" asp-route-path="@Model.Path" asp-route-image="@file.Name">@file.Name</a></li>
                }else if(file.IsVideo){
                    <li><a asp-controller="Browse" asp-action="ViewVideo" asp-route-share="@file.Share" asp-route-path="@file.Path">@file.Name</a></li>
                }else{
                    <li>@file.Name</li>
                }
            }
        </ul>
    </div>
</div>