@model BrowseDirectoryViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="column">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @foreach (var c in Model.PathComponents)
                {
                    @if (Model.Path != c.Path)
                    {
                        <li class="breadcrumb-item"><a asp-controller="Browse" asp-route-share="@Model.Share"
                                                           asp-route-path="@c.Path">@c.Name</a></li>
                        }else
                        {
                            <li class="breadcrumb-item active">@c.Name</li>
                        }
                    }
                </ol>
            </nav>
        </div>
    </div>

<div class="row" style="margin-bottom: 20px;">
    <div class="column">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            @if (Model.ViewType == "List")
            {
                <a role="buttpn" class="btn btn-sm btn-success" href="#" onclick="return false;">List</a>
            }
            else
            {
                <a role="button" class="btn btn-sm btn-outline-secondary"
                    href="@Url.Action("Index", "Browse", new{share = Model.Share, path = Model.Path, view = "List"})">List</a>
            }

            @if (Model.ViewType == "Thumbnails")
            {
                <a role="button" class="btn btn-sm btn-success" href="#" onclick="return false;">Thumbnails</a>
            }
            else
            {
                <a role="button" class="btn btn-sm btn-outline-secondary"
                    href="@Url.Action("Index", "Browse", new { share = Model.Share, path = Model.Path, view = "Thumbnails" })">Thumbnails</a>
            }
        </div>

        @if (Model.ShowImageGalleryView)
        {
            <a href="@Url.Action("ViewImages", "Browse", new { share = Model.Share, path = Model.Path })"
                class="btn btn-sm btn-primary" role="button">View Images</a>
        }
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="content-container">
            @foreach (var dir in Model.Directories)
            {
                <article class="item">
                    <a href="@Url.Action("Index", "Browse", new {share = dir.Share, path = dir.Path, view = dir.ViewType})"
                            class="item-link">
                        <figure>
                            <img src="@Url.Action("Thumbnail", "Browse", new {share = dir.Share, path = dir.Path})"
                                    loading="lazy" />
                        </figure>
                        <footer>
                            <span>@dir.Name</span>
                        </footer>
                    </a>
                </article>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="content-container">
            @foreach (var file in Model.Files)
            {
                <article class="item">
                    @if (file.IsImage)
                    {
                        <a asp-controller="Browse" asp-action="ViewImages" asp-route-share="@Model.Share"
                                asp-route-path="@Model.Path" asp-route-image="@file.Name" class="item-link">
                            <figure>
                                <img src="@Url.Action("Thumbnail", "Browse", new { share = file.Share, path = file.Path })"
                                        loading="lazy" />
                            </figure>
                            <footer>
                                <span title="@file.Name">@file.Name</span>
                            </footer>
                        </a>
                    }
                    else if (file.IsVideo)
                    {
                        <a asp-controller="Browse" asp-action="ViewVideo" asp-route-share="@file.Share"
                                asp-route-path="@file.Path" class="item-link">
                            <figure>
                                <img src="@Url.Action("Thumbnail", "Browse", new { share = file.Share, path = file.Path })"
                                        loading="lazy" />
                            </figure>
                            <footer>
                                <span title="@file.Name">@file.Name</span>
                            </footer>
                        </a>
                    }
                    else
                    {
                        <footer>
                            <span title="@file.Name">@file.Name</span>
                        </footer>
                    }
                </article>
            }
        </div>
    </div>
</div>

@section Styles {
    <style>
        .content-container {
            display: grid;
        }

        .content-container .item {
            text-align: center;
            background-color: #15181a;
        }

        .content-container .item a.item-link {
            color: #f0f0f0;
            text-decoration: none;
            display: block;
        }

        .content-container .item figure {
            margin: 0;
        }

        .content-container .item footer {
            padding: 14px 14px;
            letter-spacing: 1px;
            margin: 0;
        }

        .content-container .item img {
            object-fit: contain;
            image-orientation: none;
            background-color: #0c0e0f;
        }

        .content-container .item {
            width: 160px;
        }

        .content-container .item img {
            width: 160px;
            height: 160px;
        }

        .content-container {
            grid-template-columns: repeat(auto-fit, 160px);
            grid-gap: 15px;
        }

        @@media only screen and (min-width: 1081px) {
            .content-container {
                grid-template-columns: repeat(auto-fit, 240px);
                grid-gap: 20px;
            }

            .content-container .item img {
                width: 240px;
                height: 240px;
            }

            .content-container .item {
                width: 240px;
            }
        }
    </style>
}