@model BrowseDirectoryViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="column">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @foreach(var c in Model.PathComponents){
                    @if(Model.Path != c.Path){
                        <li class="breadcrumb-item"><a asp-controller="Browse" asp-route-share="@Model.Share" asp-route-path="@c.Path">@c.Name</a></li>
                    }else{
                        <li class="breadcrumb-item active">@c.Name</li>
                    }
                }
            </ol>
        </nav>
    </div>
</div>

<div class="row" style="margin-bottom: 20px;">
    <div class="column">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            @if(Model.ViewType == "List"){
                <a role="buttpn"
                    class="btn btn-sm btn-success" href="#" onclick="return false;">List</a>
            }else{
                <a role="button" class="btn btn-sm btn-outline-secondary" href="@Url.Action("Index", "Browse", new{share = Model.Share, path = Model.Path, view = "List"})">List</a>
            }
            
            @if(Model.ViewType == "Thumbnails"){
                <a role="button" class="btn btn-sm btn-success"
                    href="#" onclick="return false;">Thumbnails</a>
            }else{
                <a role="button" class="btn btn-sm btn-outline-secondary"
                    href="@Url.Action("Index", "Browse", new { share = Model.Share, path = Model.Path, view = "Thumbnails" })">Thumbnails</a>
            }
        </div>

        @if (Model.ShowImageGalleryView)
        {
            <a href="@Url.Action("ViewImages", "Browse", new { share = Model.Share, path = Model.Path })"
                class="btn btn-sm btn-primary" role="button">View Images</a>
        }
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="content-container">
            @foreach(var dir in Model.Directories){
                <div class="item">
                    <a href="@Url.Action("Index", "Browse", new {share = dir.Share, path = dir.Path, view = dir.ViewType})">
                    <img src="@Url.Action("Thumbnail", "Browse", new {share = dir.Share, path = dir.Path})" loading="lazy">
                    <div class="card-body">
                        <h5 class="card-title">@dir.Name</h5>
                    </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="content-container">
            @foreach (var file in Model.Files)
            {
                <div class="item">
                    @if (file.IsImage)
                    {
                        <a asp-controller="Browse" asp-action="ViewImages" asp-route-share="@Model.Share"
                                asp-route-path="@Model.Path" asp-route-image="@file.Name">
                            <img src="@Url.Action("Thumbnail", "Browse", new { share = file.Share, path = file.Path })"
                                loading="lazy">
                            <div class="card-body">
                                <h5 class="card-title">@file.Name</h5>
                            </div>
                        </a>
                    }
                    else if (file.IsVideo)
                    {
                        <a asp-controller="Browse" asp-action="ViewVideo" asp-route-share="@file.Share"
                                asp-route-path="@file.Path">
                            <img src="@Url.Action("Thumbnail", "Browse", new { share = file.Share, path = file.Path })"
                                loading="lazy">
                                <div class="card-body">
                                <h5 class="card-title">@file.Name</h5>
                            </div>
                        </a>
                    }
                    else
                    {
                        <div class="card-body">
                            <h5 class="card-title">@file.Name</h5>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@section Styles{
    <style>
        .content-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            margin-left: -5px;
        }

        .content-container .item{
            padding: 10px;
            margin: 5px;
            flex: 1;
            text-align: center;

            background-color: #15181a;
        }

        .content-container .item img{
            width: 120px;
            height: 120px;
            object-fit: contain;
            image-orientation: none;
            margin-bottom: 10px;
            background-color: #000;
        }

        @@media only screen and (min-width: 1081px){
            .content-container .item img{
                width: 240px;
                height: 240px;
            }
        }
    </style>
} 