@model ViewImagesViewModel
@{
    Layout = "_MinimalLayout";
    ViewData["Title"] = Model.Name;
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index" asp-controller="Browse" asp-route-share="@Model.Share" asp-route-path="@Model.Path">@Model.Name</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <a class="nav-link active" aria-current="page" id="button-previous-image" href="#">Previous</a>
                <span class="navbar-text" id="image-status"></span>
                <a class="nav-link active" aria-current="page" id="button-next-image" href="#">Next</a>
            </div>
        </div>
    </nav>
</header>

<div>
    <main role="main">
        <div class="text-center">
            <div class="main-image-container">
                <img id="image" class="main-image" />
            </div>
        </div>
    </main>
</div>

@section Scripts {
    <script>
        const images = @Json.Serialize(Model.Files.Select(f => new{url = Url.Action("Image", "Browse", new {share = f.Share, path = f.Path}), name = f.Name})) ;
        const startingImageName = @Json.Serialize(Model.StartingImageName) ;
        let currentImage = null;

        document.addEventListener("DOMContentLoaded", () => {
            if(images.length > 0){
                let firstImage = 0;
                if(startingImageName){
                    const i = images.findIndex(f => f.name == startingImageName);
                    if(i >= 0){
                        firstImage = i;
                    }
                }
                setCurrentImage(firstImage);
                preloadImagesByIndex(1);
            }

            document.addEventListener("keydown", (ev) => {
                if(ev.code === "KeyA" || ev.key === "ArrowLeft"){
                    previousImage();
                }else if(ev.code === "KeyD" || ev.key === "ArrowRight"){
                    nextImage();
                }
            });

            document.getElementById("button-next-image").addEventListener("click", (ev) => {
                ev.preventDefault();
                nextImage();
            });

            document.getElementById("button-previous-image").addEventListener("click", (ev) => {
                ev.preventDefault();
                previousImage();
            });

            document.getElementsByClassName("main-image-container")[0].addEventListener("click", (ev) => {
                ev.preventDefault();
                const rectangle = ev.target.getBoundingClientRect();
                const clickX = ev.clientX - rectangle.x;
                const clickY = ev.clientY - rectangle.y;
                if(clickX < (rectangle.width / 2)){
                    previousImage();
                }else{
                    nextImage();
                }
            });
        });

        function nextImage(){
            const i = currentImage;
            setCurrentImage((i + 1) % images.length);
            preloadImagesByIndex(i + 2);
        }

        function previousImage(){
            const i = currentImage;
            setCurrentImage(i == 0 ? images.length - 1 : i - 1);
            preloadImagesByIndex(i - 2);
        }

        function setCurrentImage(i){
            if(i >= 0 && i < images.length){
                const image = images[i];
                document.getElementById("image").src = image.url;
                document.getElementById("image-status").innerText = `${i + 1} of ${images.length}`;

                const newUrl = new URL(window.location.href);
                newUrl.searchParams.set("image", image.name);
                window.history.replaceState({path: newUrl.toString()}, '', newUrl.toString());

                currentImage = i;
            }
        }

        function preloadImagesByIndex(...indexes){
            const totalImages = images.length;
            if(totalImages == 0){
                return;
            }

            const imageUrls = indexes.map(i => {
                if(i >= totalImages){
                    return i % totalImages;
                }else if(i < 0){
                    while(i < 0){
                        i += totalImages;
                    }
                    return i;
                }else{
                    return i;
                }
            })
            .map(i => images[i].url);

            preloadImagesByUrl(imageUrls);
        }

        function preloadImagesByUrl(urls){
            const promises = urls.map((image) => {
                return new Promise((resolve, reject) => {
                    const img = new Image();
                    img.src = image;
                    img.onload = () => resolve(image);
                    img.onerror = () => reject(new Error(`Failed to load image: ${image}`));
                });
            });
        }
    </script>
}

@section Styles {
    <style>
        body{
            background-color: rgb(17, 17, 17);
        }

        .main-image-container {
            display: flex;
            height: 90vh;
            justify-content: center;
        }

        .main-image {
            max-inline-size: 100%;
            block-size: auto;
            object-fit: scale-down;

            image-orientation: none;
        }

        #image-status {
            font-family: monospace;
        }
    </style>
}