@model ViewVideoViewModel
@{
    Layout = "_MinimalLayout";
    ViewData["Title"] = Model.Name;
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index" asp-controller="Browse" asp-route-share="@Model.Share" asp-route-path="@Model.Path">@Model.Name</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <a class="nav-link active" aria-current="page" id="button-previous-image" href="#">Previous</a>
                <span class="navbar-text" id="image-status"></span>
                <a class="nav-link active" aria-current="page" id="button-next-image" href="#">Next</a>
            </div>
        </div>
    </nav>
</header>

<div>
    <main role="main">
        <div class="text-center">
            <video controls>
                <source src="@Url.Action("Video", "Browse", new {share = Model.Share, path = Model.Path})" type="@Model.VideoMimeType" />
            </video>
        </div>
    </main>
</div>

@section Styles {
    <style>
        body{
            background-color: rgb(17, 17, 17);
        }

        @* nav {
            background-color: black;
            border-bottom-color: black;
            color: white;
        } *@

        .main-image-container {
            display: flex;
            height: 90vh;
            @* max-height: 120vh; *@
        }

        .main-image {
            max-inline-size: 100%;
            block-size: auto;
            aspect-ratio: 2/1;
            object-fit: contain;

        }

        #image-status {
            font-family: monospace;
        }

        video {
            width: 100vw;
        }
    </style>
}