@model WebFileBrowser.Models.SetThumbnailViewModel
@{
    ViewData["Title"] = "Set Thumbnail";
}

<div class="row">
    <div class="col">
        <h1>Set Thumbnail</h1>
        <form method="POST" action="@Url.Action("SetThumbnail", "Thumbnail")">
            <input type="hidden" name="share" value="@Model.Share" />
            <input type="hidden" name="thumbnailSourcePath" value="@Model.SourcePath" />
            <input type="hidden" name="size" value="240" />
        <section>
            <label>Set thumbnail for: </label> <select name="path">
                @foreach(var targetNode in Model.TargetNodeOptions.Reverse()){
                    <option value="@targetNode">@targetNode</option>
                }
            </select>
        </section>

        <div class="preview-container">
            <div class="preview-item">
                <input type="radio" name="croppingOption" value="None">
            <h2>Original</h2>
            <img class="preview-image"
                 src="@Url.Action("Image", "Browse", new { share = Model.Share, path = Model.SourcePath })" />
            </input>
            </div>

        <div class="preview-item selected">
            <input type="radio" name="croppingOption" value="Auto">
<h2>Auto</h2>
                <img class="preview-image"
                      src="@Url.Action("Auto", "Thumbnail", new {share = Model.Share, path = Model.SourcePath, size = 240})" />
            </input>
            </div>

        <div class="preview-item">
            <input type="radio" name="croppingOption" value="Portrait">
            <h2>Portrait</h2>
            <img class="preview-image"
                 src="@Url.Action("Portrait", "Thumbnail", new { share = Model.Share, path = Model.SourcePath, size = 240 })" />
            </input>
            </div>
        </div>

        <div>
            <button type="submit">Set Thumbnail</button>
        </div>
    </form>
    </div>
</div>

@section Styles{
    <style>
        .preview-image{
            width: 240px;
            height: 240px;
            object-fit: contain;
        }

        .preview-container{
            display: flex;
        }

        .preview-container .preview-item{
            margin: 10px;
            padding: 10px;
            background-color: #101010;
        }

        .preview-container .preview-item a{
                color: #f0f0f0;
                text-decoration: none;
        }

        .preview-container .preview-item.selected {
            background-color: #c3f023;
        }

            .preview-container .preview-item.selected a {
                color: #101010;
            }
    </style>
}